@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter"
}

html{
    visibility: visible;
    opacity: 1;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 25px 0 25px;
}

header h1{
    color: #252B42;
    font-size: 32px;
}

.sections{
    display: flex;
}

.sections button{
    background: none;
    border: none;
    color: #737373;
    cursor: pointer;
    font-size: 14px;
    margin: 0 20px 0 20px;
}

.login-register{
    display: flex;
    gap: 5px;
}

.login-register a{
    text-decoration: none;
    color: #000000;
}

.login-register button{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}

.login-register img{
    width: 24px;
    height: 24px;
}

.search-bar{
    display: flex;
    height: 24px;
}

.search-bar input{
    width: 100%;
    padding: 14px;
    padding-left: 55px;
    font-size: 14px;
    background-color: #F5F5F5;
    border: 1px solid #DADADA;
    border-radius: 5px;
    outline: none;
}

.search-bar button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFA500;
    border: none;
    cursor: pointer;
}


.search-bar img{
    height: 24px;
    width: 24px;
}

.search-bar select{

}

#shopping-cart{
    display: flex;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
}